html{
    box-sizing:border-box;
    font-size: 12px;
  }
  
  *,*::before,*::after{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }
  
  body{
  
    margin:0 ;
    padding: 0;
    
    background-color: #FDFAFF;
    
  }
  @import url('https://fonts.googleapis.com/css2?family=Manuale:wght@300&display=swap');
  .container{
    width: 1280px;
    height: 1200px;
    margin:0 auto;
    font-family: 'Manuale', serif;
  
  }
  a{
      text-decoration: none;
      color:rgb(31, 11, 27);
  }
  a:hover{
    color:rgb(223, 223, 223);
  }
  .selfintro{
      width:1280px;
      height:500px;
      /* display: flex; */

  }
  .box_selfintro{
      position: relative;
      width:500px;
      height:150px;
      background-color: #FDFAFF;
      filter:opacity(0.5);
      margin-left:400px;
    top:180px;
    display: flex;
    justify-content: center;
    
  }
  .td{
color:black;
z-index: 100;
  }
  .selfpic{
    width:1280px;
    height:500px;
    position:absolute;
    filter: blur(3px);
    z-index: 0;
  }
  .music{
    gap: 150px;
    margin:0 auto;
  }
  .img_musician{
    width:180px;
    height:240px;
   margin-left:150px;
   margin-bottom: 20px;
  }
  .moreinfo{
      display: flex;
      justify-content: flex-end;
     align-items: center;
  }
  .box_moreinfo{
    width:50px;
    height:25px;
    background-color: #4b4b4b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;
  }
  .content{
      color:black;
  }
  .expertise{
    width:500px;
    height:250px;
  }
  .photoslider{
    width:800px;
    height:600px;
    margin:0 auto;
  }
  
  .contentmusic{
    margin-right:500px;
  }
  .piano{
    width:300px;
    height:200px;
    margin:0 auto;
    margin-left:40px;
  }
  .expertise{
    display:flex;
    justify-content: center;
  }
  .computer{
    width:300px;
    height:200px;
    margin:0 auto;
    margin-top:30px;
  }
  .language{
    margin-top:0px;
  }
  .home{
    width:20px;
    height:20px;
   
  }
  .selfintro{
    width: 100%;
 
  }
.contentphoto{
  margin-left:150px;
  
}
